<% layout('layouts/boilerplate') -%>
  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">HealthVault Application: An Electronic Health Record Software</h2>
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.10.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.18.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.20.28.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.20.58.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.43.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.44 (1).jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.44 (2).jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.44.jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.45 (1).jpeg" alt="">
                </div>
                <div class="swiper-slide">
                  <img id="healthvault_image"
                    src="/img/portfolio/Healthvault/WhatsApp Image 2024-02-08 at 18.21.45.jpeg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <div class="healthvault_video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/KrZ11Gakwfg?si=s8l6ueZg-mZvtxgV"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>

            <ul>
              <li><strong>Category</strong>: Wireframe Development</li>
              <li><strong>Client</strong>: ALX_Africa</li>
              <li><strong>Project date</strong>:11 January, 2024 </li>
              <li><strong>Project URL</strong>: <a
                  href="https://docs.google.com/presentation/d/1mQ9jE7pn-pamx5YQ3XIKpzzlfG8sox1I/edit#slide=id.p12">HealthVault
                  Pitch Deck</a>
              </li>
            </ul>

            <p>
              The traditional method of file documentation system affects the people of Africa, as they face the risk of
              data loss, data privacy compromise, and at worse death when their conditions need them to be moved to
              another hospital, the time wastage in opening a new medical record and not giving immediate medical
              attention can lead to loss of life.
              Addressing this challenge requires the development and deployment of a cloud-based, user-friendly, secured
              database management system specific to healthcare, where health information, medical records, and research
              can be stored for easy and fast diagnosis saving millions of lives, hence the solution we bring, The
              HealthVault 509.
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main>
  <!-- End #main -->