<% layout('layouts/boilerplate') -%>
    <!-- Begin Main -->
    <main id="main">
        <div id="portfolio-details" class="portfolio-details">
            <div class="container">
                <!--======Elevator Pitch Section====-->
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="portfolio-title">Elevator Pitch Video</h2>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/LtMPlXJ04Ws?si=UKX_6u60RkIKBFrq"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <p>
                            A brief introduction video indicating my background and technical expertise
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--======End of Elevator Pitch Section====-->

    </main>
    <!-- End #main-->